<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="bottom">
		<ul>
			<li style="border-left: 0 solid #ffffff;"><a href="./home.xhtml">HOME</a></li>
			<li><a href="./aboutUs.xhtml">ABOUT US</a></li>
			<li><a href="./ourServices.xhtml">SERVICES</a></li>
			<li><a href="./clients.xhtml">CLIENTS</a></li>
			<li><a href="./careers.xhtml">CAREERS</a></li>
			<li><a href="./feedback.xhtml">FEED BACK</a></li>
		    <li><a href="./contactUs.xhtml">CONTACT </a></li>
		</ul>
		<p>
			Copyright 2017. Designed by <a>Apparao M</a>, All Right Reserved <a>www.ltpharma.co.in</a>
			
		</p>
		
	</div>

</body>
</html>